.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo{
    width: max(10%,80px);
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 36px;
    color: tomato;
    margin: 0;
    cursor: pointer;
  }
  
  .logo:hover {
    color: #ff7043;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }
  

.navbar .profile{
    width: 40px;
}